# Ignore Gradle project-specific cache directory
.gradle

# Ignore VSCode project directory
.vscode

# Ignore gradle local properties
gradle.properties

# Ignore bin folder
bin

# Ignore build folders
build/classes
build/distributions
build/reports
build/test-results
